*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;

}
main{
    background-color: chartreuse;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
header{
    background-color: red;
    flex-grow: 0.9;
    display: flex;

}
.logo{
    background-color: burlywood;
    flex-grow: 1;

}
.head{
    background-color: lightslategray;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}
.social{
    background-color: lightgrey;
    flex-grow:2;
}
.menu{
    background-color: lightsalmon;
    flex-grow:2 ;
}
.content{
    background-color: blue;
    flex-grow: 4;
    display: flex;
}
article{
    background-color: darkolivegreen;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.box1{
    background-color: chartreuse;
    flex-grow: 2;
}
.box2{
    background-color: darksalmon;
    flex-grow: 2;
    display: flex;
}
.card1{
    background-color: darkgoldenrod;
    flex-grow: 1;
}
.card2{
    background-color: darkkhaki;
    flex-grow: 1;
}
.card3{
    background-color: darkcyan;
    flex-grow: 1;
}
.box3{
    background-color:lightgreen;
    flex-grow: 2;
}
aside{
    background-color: lightsteelblue;
    flex-grow: 2;
    display: flex;
    
}
.box4{
    background-color: cyan;
    flex-grow: 1;
}
.box5{
    background-color: darkgrey;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.card4{
    background-color: rgb(226, 99, 99);
    flex-grow: 2;
}
.card5{
    background-color: gold;
    flex-grow: 2;
}
.card6{
    background-color: lightcyan;
    flex-grow: 2;
}
.box6{
    background-color: darkorange;
    flex-grow: 1;
}

footer{
    background-color: brown;
    flex-grow: 0.4;
}