*{
    margin: 0;
    padding: 0;

}
.main-container{
   border: 2px,solid,gainsboro;
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
}
aside{
    background-color:lightsteelblue;
    flex-grow: 2;
    flex-basis: 150px;
    
    
    
}
.maincontent{
    background-color: beige;
    flex-grow: 8;
    flex-basis: 800px;
    padding: 5px;
    border:2px solid gray;
    

    
}
.content{
  display: flex;
  flex-direction: column;
 
}
.login{
    display: flex;
    justify-content: flex-end;

  
}
li{
    list-style: none;
    padding: 10px;
}
menu{
    display: flex;
    justify-content: space-between; 
}
.box1 li{
    border-style: solid;
    border-top: 0ch;
}
.box1{
    display: flex;

}
.box2{
    display: flex;
}
.heading{
    display: flex;
    justify-content: space-between;
    border-style:solid;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-color: gray;
}
article{
    
    display: flex;
    
}
.para{
  
    
    flex-grow: 3;
    
}
.photo{
    flex-grow: 2;
    background-color: lemonchiffon;
    text-align: center;

    
}
img{
    padding: 10px;
    width: 300px;
    height: 400px;
    

}
