*{
    padding: 0;
    margin: 0;
}
.main-container{
    height: 100vh;
    width: 100wh;
    
    margin: 2px;
    padding: 2px;
    
}
.header{
    height:20vh;
    width: 100wh;
    background-color:lightblue;
}
.header h1{
    font-size:5vh;
    font-size: 5vw;
    text-align: center;
}
.content{
    height: 70vh;
    width: 100wh;
    display: flex;
    margin: 2px;
    padding: 2px;
}
article{
    height:100%;
    width: 50%;
    background-color: lightgray;
    


}
article p{
    font-size:2vw;

}
p u{
    font-size: 2rem;
}
b{
    font-size: 2em;
}
aside{
    height: 100%;
    width: 50%;
    background-color: burlywood;
    margin-left: 5px;


    
}
aside p{
    font-size: 2vw;

}
 aside p i{
    font-size: 2em;
    
}

.footer{
    height: 10vh;
    width: 100wh;
    background-color:gray;
    margin: 2px;
    padding: 2px;
}
.footer h2{
    font-size: 3vw;
    text-align: center;
    
}